* {box-sizing: border-box}

form {
    display: flex;
    justify-content: center;
}
/* Add padding to containers */
.container {
    padding: 16px;
    width: 50%;
}

/* Full-width input fields */
input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input:focus {
    background-color: #ddd;
    outline: none;
}
.error {
    color: red;
    font-style: italic;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.create-user {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.create-user:hover {
    opacity:1;
}